@import "_color.scss";

@mixin wrapper-pos($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin body-size($width, $height, $ratio, $trans, $not-circle: false) {
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color-red;
  z-index: 1;
  border-radius: $ratio;
  transform: rotate($trans);
  @if $not-circle {
    border-radius: $height;
  }
}

@mixin eye($left, $top, $width, $height, $ratio) {
  position: absolute;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
  background-color: $color-white;
  border-radius: $ratio;
  z-index: 10;
}

@mixin pupil($side) {
  position: absolute;
  width: $side;
  height: $side;
  border-radius: 50%;
  background-color: $color-blue;
}
